<div class="container">
  <p id="notice"><%= notice %></p>

    <div class="alert alert-info" role="alert">
      <h3><%= @post.title %></h3>
      <%= @post.body %>
    </div>

  <% @post.comments.reverse_each do |comment| %>
     <% comment.save %>
      <% if comment.ancestry? %>
          <div class="alert alert-info" role="alert">
              <%= comment.parent.body %>
          </div>    
          <div class="special-container">
            <div class="alert alert-warning" role="alert">
               <%= comment.body %>
             </div>  
          </div>     
      <% elsif comment.is_childless?  %>
          <div class="alert alert-info" role="alert">
             <%= comment.body %>
             <u><%= link_to "reply", new_post_comment_path(@post) + "?param1="+comment.id.to_s %></u>
          </div>   
        <% end %>
  <% end %>

  <%= bootstrap_form_for([@post, @post.comments.new]) do |f| %>
    <%= f.text_area :body, label: "~", :rows => 10, :cols => 50 %>
    <%= f.submit "Reply" %>
  <% end %>
    
</div>

